button {
  background-color: #1363df;
  color: white;
  width: fit-content;
  border: none;
  padding: 3%;
  border-radius: 0.9rem;
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0.05ch;
}
