.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #06283d;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 10%;
  flex-direction: row;
  display: flex;
  padding: 1% 1%;
  align-items: center;
}

.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 5.8rem;
  color: #dff6ff;
  padding-top: 2%;
  padding-left: 5%;
  /* text-transform: uppercase; */
}

.navbar__links {
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding-right: 7%;
  gap: 4rem;
}

.navbar__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: #dff6ff;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 80%;
  padding-top: 1.1%;
}

.content__left {
  width: 45%;
  flex-direction: column;
  padding-top: 6%;
  padding-left: 6%;
  display: flex;
  gap: 5%;
}

.content__left_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 4.6rem;
  color: #dff6ff;
  line-height: 5.7rem;
}

.content__left_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgb(205, 205, 205);
  width: 60%;
}

.content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-top: 4%;
}

.highlight_text {
  color: #47b5ff;
}
